.reg
{
    padding-top: 100px;
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px 30px;
    gap: 30px;
    width: 500px;
    background-color: white;
    height: 530px;
    
}

form input
{
    margin-bottom:10px;
    height: 30px;
    border: 0px;
    width: 480px;
    outline: none;
    border-bottom: 3px solid blue; 
}

form div
{
    display: grid;
    grid-template-columns: 2.1fr 1fr;
    gap: 30px;
}


form div span
{
    font-size: 18px;
}
form div span:hover
{
    cursor: pointer;
    color: red;
}




#pwmsg
{
    color: red;
    z-index: 1;
    margin-top: -30px;
    margin-left: 10px;
    font-size: 12px
}

.main
{ 
    margin-top: 0px;
    margin-left: 20spx;
    width: 800px;
    height: 350px;
    background-color: rgb(51, 190, 190);
}

.main div 
{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle;
    font-weight: 500;
    margin-left: 40px;
}